<div class="feedback-form-layout">
  <div class="d-flex feedback-list justify-content-space-between mt-4">
    <h1 class="title fs-18">Add New Feedback</h1>
    <span class="links-btn cursor-pointer mt-1">
      <span class="font-roboto fs-12">Home</span> / <span class="active font-roboto fs-12">Feedback Form</span>
    </span>
  </div>

  <h1 class="fs-14">Feedback form</h1>

  <form [formGroup]="feedbackForm">
    <div class="mb-3 mt-3">
      <textarea placeholder="Enter your feedback here..." formControlName="description" class="form-control" rows="5"
        id="comment" name="text"></textarea>
      <span *ngIf="
      submitted &&
      validators['description'].errors &&
      validators['description'].errors['required']" class=" error">Enter Feedback</span>
    </div>

    <div class="mb-3 mt-3">
      <h1 class="fs-14">Rating</h1>
      <span>
        <img class="me-2" *ngFor="let data of stars;let i=index;" (click)="onRating(data,i)" width="24"
          [src]="data.selected ? '../../../assets/star.svg' : '../../../assets/star-outline.svg'">
      </span>
    </div>
    <div class="d-flex justify-content-end">
      <button (click)="location.back()" class="btn back-btn me-3">Back</button>
      <button (click)="submitFeedback()" class="btn text-white submit-btn">Submit Form</button>
    </div>

  </form>
</div>