<div class="home-layout">
  <h1 class="title">Welcome Back User 01!</h1>

  <div class="d-flex justify-content-space-between feedback-list mt-4">
    <span class="text-white font-roboto mt-2">Feedback List</span>
    <span routerLink="/feedback-form" class="add-btn cursor-pointer"> <img height="20" class="me-2"
        src="../../../assets/plus.svg">
      <span class="text-white">Add New</span>
    </span>
  </div>

  <div class="feedback-card-section">

    <div *ngFor="let data of feedbackList" class="feedback-card mt-4">
      <div class="row w-100">
        <!-- <div class="col-1"> <img class="card-profile" src="https://randomuser.me/api/portraits/men/31.jpg"></div> -->
        <div class="d-flex col-8">
          <img class="card-profile" src="https://randomuser.me/api/portraits/men/31.jpg">
          <p class="px-3">{{data.feedback}}</p>
        </div>
        <div class="col-3">
          <span>
            <img width="24" [src]="data.rating < 1 ? '../../../assets/star-outline.svg' : '../../../assets/star.svg'">
            <img width="24" [src]="data.rating < 2 ? '../../../assets/star-outline.svg' : '../../../assets/star.svg'">
            <img width="24" [src]="data.rating < 3 ? '../../../assets/star-outline.svg' : '../../../assets/star.svg'">
            <img width="24" [src]="data.rating < 4 ? '../../../assets/star-outline.svg' : '../../../assets/star.svg'">
            <img width="24" [src]="data.rating < 5 ? '../../../assets/star-outline.svg' : '../../../assets/star.svg'">
          </span>
        </div>

        <div class="col-1">
          <span>
            {{data.date | date: 'dd/MM/yyyy' }}
          </span>
        </div>
      </div>




    </div>
  </div>
</div>